<div class="body">
    <header class="header">
        <div class="menu__wrapper">
            <div class="menu__bar">
                <a href="#" title="Home" aria-label="home" class="logo">
                    <img src="../../../assets/logoEnergym_vert.png" alt="logo" />
                </a>
                <nav>
                    <ul class="navigation hide">
                        <li>
                            <a href="#" title="sedes"> Sedes </a>
                        </li>
                        <li>
                            <a href="#" title="servicios"> Servicios </a>
                        </li>
                        <li>
                            <a href="#" title="planes"> Planes </a>
                        </li>
                        <li>
                            <a href="#" title="clases"> Clases </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="action-buttons hide">
                <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" title="Log in" class="secondary">
                    Suscribirse
                </a>
                <a *ngIf="!isLoggedIn" [routerLink]="'/login'" title="Sign up" class="primary">
                    Iniciar sesión
                </a>
                <a *ngIf="isLoggedIn" (click)= "cerrarSesion()" class="primary">
                    Cerrar sesión
                </a>
            </div>
        </div>
    </header>
</div>