<div class="bootstrap-wrapper body">
  <div class="container-fluid">
    <h1 class="text-center">Mis Inscripciones</h1>
    <div class="row mt20" *ngIf = "clases">
      <div class="col-md-4" *ngFor = "let e of clases">
        <mat-card class="mb20">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> {{ e.nombreClase }}  </mat-card-title>
            <mat-card-subtitle> {{ e.categoria.titulo }} </mat-card-subtitle>
            <mat-card-subtitle>Fecha: {{ e.fechaClase }} Hora: {{ e.hora }} </mat-card-subtitle>
            <mat-card-subtitle>Por: {{ e.instructor }}</mat-card-subtitle>
            <mat-card-subtitle>ubicacion: {{ e.ubicacion }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-actions>
            <button mat-button class="background-button" (click)= "cancelarInscrip(8)" >Cancelar</button>
          </mat-card-actions>


        </mat-card>
      </div>
      <div class="col-md-12" *ngIf = "clases.length == 0">
        <mat-card>
          <mat-card-content>
            <h1>No te has incrito a ninguna clase.</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
