<mat-card class="body">
  <mat-action-list>
    <button routerLink = "/user-dashboard" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>
    <button routerLink = "/user-dashboard/0" mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>Clases
    </button>
    <div mat-subheader>Categorías disponibles</div>
    <button [routerLink] = "'/user-dashboard/'+c.idCategoria" mat-list-item *ngFor = "let c of categorias">
      <mat-icon mat-list-icon>arrow_right</mat-icon> {{ c.titulo }}
    </button>
    <button routerLink="mis-inscripciones/333" mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon> Inscripciones
    </button>
    <button (click)="cerrarSesion()" mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>logout</mat-icon> Salir
    </button>
  </mat-action-list>
</mat-card>
