<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="container text-center">
                <img src="" width="150" height="150">
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Bienvenido al portal de Energym</h1>
                <button class="background-button" mat-raised-button> Inicio </button>
            </div>
        </div>
    </div>
</div> -->


<body>
    <header>
        <nav>
            <a href="#">Sedes</a>
            <a href="#">Planes y servicios</a>
            <a href="#">Portafolio</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <div class="container text-center">
                <img src="../../../assets/logoEnergym.png" width="150" height="150">
            </div>
            <h1>ENERGYM</h1>
            <h2>Más vida, mas salud</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff
            ;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">FITNESS A TU RITMO</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="../../../assets/About us.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>SUSCRIPCIÓN CON TODO INCLUIDO</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi possimus obcaecati nesciunt, ad quo aut quis dignissimos dolore dolorum nam est voluptates praesentium esse, asperiores commodi a. Ullam, amet hic.</p>
                    <h3><span>2</span>UN PRECIO QUE SE AJUSTA A TU BOLSILLO</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi possimus obcaecati nesciunt, ad quo aut quis dignissimos dolore dolorum nam est voluptates praesentium esse, asperiores commodi a. Ullam, amet hic.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">PORTAFOLIO</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../../../assets/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../../assets/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../../../assets/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes-contenedor">
            <h2 class="titulo">QUE DICEN NUESTROS CLIENTES</h2>
            <div class="cards">
                <div class="card">
                    <img src="../../../assets/face1.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Name</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio iusto repellat dicta architecto quia aliquid, nobis, laborum omnis earum qui harum quas voluptatibus vel dolor quasi expedita voluptas. Possimus, modi!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets/face2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus nobis, quaerat recusandae accusamus quae totam obcaecati odio eveniet officia vitae dolores deleniti minus nihil velit libero ipsum explicabo. Dolorum?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">NUESTROS SERVICIOS</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="" alt="">
                        <h3>name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>11223344</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>energym@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>Colombia</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; EnerGym | 2022</h2>
    </footer>
</body>