<br>
<h1 class="text-center">Listado de citas</h1>
<mat-card class="mt10" *ngFor = "let c of citas">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ c.categoriaEnt.titulo }} </mat-card-title>
        <mat-card-content>{{ c.categoriaEnt.descripcion }} </mat-card-content>
        <mat-card-subtitle>Fecha: {{ c.fecha }} </mat-card-subtitle>
        <mat-card-subtitle>Hora: {{c.hora}} </mat-card-subtitle>
        <mat-card-subtitle>A cargo de: {{c.usuarioEnt.nombre}} {{c.usuarioEnt.apellido}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions>
        <button [routerLink] = "'/admin/cita/'+c.idCita" mat-flat-button class="ml20 background-button">Actualizar</button>
        <button mat-flat-button color="warn" class="ml10" (click) = "eliminarCita(c.idCita)">Eliminar</button>
      </mat-card-actions>
    </mat-card-content>
</mat-card>
  
<div class="container text-center mt20">
    <button class="background-button" 
    routerLink="/admin/add-cita"
    mat-raised-button >Agregar cita</button>
</div>

