<mat-card>
    <mat-action-list>
        <div mat-subheader> Menú </div>
        <button routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon> Inicio
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
        </button>
        <button mat-list-item routerLink="/admin/categorias">
            <mat-icon mat-list-icon>list</mat-icon> Categorías
        </button>
        <button mat-list-item routerLink="/admin/add-categorias">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon> Agregar categoría
        </button>
        <button mat-list-item routerLink="/admin/citas-grupales">
            <mat-icon mat-list-icon>list</mat-icon> Citas grupales
        </button>
        <button mat-list-item routerLink="/admin/add-cita">
            <mat-icon mat-list-icon>add</mat-icon> Crear cita grupal
        </button>
        <button (click) = "cerrarSesion()" mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>logout</mat-icon> Salir
        </button>
    </mat-action-list>
</mat-card>
